@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    display: flex;
    justify-content: center;
    @apply bg-gray-50;
    font-family: 'noto-sans';
  }

  body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.025;
    background-image: url('/images/타일.svg');
    background-repeat: repeat;
    background-size: auto;
    z-index: -1;
  }

  /*인풋버튼 기본 내용제거버튼 숨기기*/
  .input-no-clear::-webkit-search-cancel-button {
    @apply hidden;
  }

  @font-face {
    font-family: 'seoul-metro';
    src: url('/font/신지하철체.ttf') format('truetype');
  }

  @font-face {
    font-family: 'seoul-namsan';
    src: url('/font/SeoulNamsanM.ttf') format('truetype');
  }

  @font-face {
    font-family: 'noto-sans';
    src: url('/font/NotoSansKR-Regular.ttf') format('truetype');
  }
}